body{
    background-color: #274a5e;
    margin: 0px;
}

/*TEXTOS*/
p{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: white;
    text-align: justify;
}
h1{
    font-family: "Montserrat", sans-serif;
    color: white;
}
.serv_right{
    display: flex;
    justify-content: flex-end;
}
.text_about_2{
    font-weight: 700;
}

/*BARRA DE NAVEGAÇÃO*/
ul{
    display: flex;
    gap: 30px;
}
li{
    font-family: "Montserrat", sans-serif;
    list-style: none;
}
.nav_down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
a{
    text-decoration: none;
    color: white;
}


/*ESPAÇAMENTOS*/
.space_01{
    background-color: beige;
    height: 25vh;
}
.space_02{
    background-color: beige;
    height: 10vh;
}
.space_03{
    background-color: beige;
    height: 5vh;
}

/*BARRA DE NAVEGAÇÃO*/
header{

    background-color: aqua;
    height: 70px;
    margin-left: 20vh;
    margin-right: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*FOOTER*/
footer{
    margin: 0px;
    background-color: aqua;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*IMAGEM HOME*/
.imagem_home{
    margin: 0px;
    background-color: rgb(21, 255, 0);
    height: 70vh;
}

/*SOBRE*/
.about{
    margin: 0px;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-left: 20vh;
    margin-right: 20vh;
}
.text_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(194, 135, 46);
    width: 50%;
    height: 100%;
}
.picture_about{
    background-color: rgb(201, 52, 181);
    width: 50%;
    height: 100%;
}

/*SERVIÇOS*/
.services{
    margin: 0px;
    height: 100%;
    margin-left: 20vh;
    margin-right: 20vh;
}
.service_left{
    height: 30%;
    display: flex;
    flex-direction: row;
}
.img_service_1{
    background-color: rgb(201, 52, 181);
    width: 50%;
    height: 100%;
}
.text_service_1{
    background-color: rgb(194, 135, 46);
    width: 50%;
    height: 100%;
    margin: 30px;
}
.service_right{
    height: 30%;
    display: flex;
    flex-direction: row;
}
.img_service_2{
    background-color: rgb(223, 48, 194);
    width: 50%;
    height: 100%;
}
.text_service_2{
    background-color: rgb(255, 139, 6);
    width: 50%;
    height: 100%;
    margin: 30px;
}


/*JOBS*/
.jobs{
    background-color: rgb(37, 87, 102);
    margin: 0px;
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.text_jobs{
    background-color: rgb(81, 194, 46);
    margin-left: 20vh;
    margin-right: 20vh;
    width: 30%;
    height: 100%;
}
.pictures_jobs{
    background-color: rgb(194, 135, 46);
    margin-left: 20vh;
    width: 89.7%;
    height: 100%;
}

/*DEMONSTRAÇÃO*/
.demonstration{
    margin: 0px;
    background-color: rgb(37, 87, 102);
    height: 40vh;
    margin-right: 80vh;
    display: flex;
    justify-content: flex-end;
}
.text_demo{
    background-color: rgb(194, 135, 46);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

/*FINAL*/
.final_infos{
    margin: 0px;
    background-color: rgb(37, 87, 102);
    height: 35vh;
    margin-left: 20vh;
    margin-right: 20vh;
        display: flex;
    flex-direction: row;
}
.logotipo_footer{
    background-color: rgb(194, 135, 46);
    width: 50%;
    height: 100%;
}
.nav_footer{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    background-color: rgb(76, 194, 46);
    width: 50%;
    height: 100%;
}
.contact{
    background-color: rgb(194, 46, 174);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}