body{
    background-color: #274a5e;
    margin: 0px;
}

/*TEXTOS*/
p{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: justify;
}
.nav_footer li a{
    color: rgb(0, 0, 0);
}
.contact h1{
    color: black;
}
.contact p{
    color: black;
}
.direitos_footer{
    color: black;
}
h1{
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
}
.serv_right{
    display: flex;
    justify-content: flex-end;
}
.text_about_2{
    font-weight: 700;
}

/*BARRA DE NAVEGAÇÃO*/
ul{
    display: flex;
    gap: 30px;
}
li{
    font-family: "Montserrat", sans-serif;
    list-style: none;
}
.nav_down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


/*ESPAÇAMENTOS*/
.space_01{
    height: 25vh;
}
.space_02{
    height: 10vh;
}
.space_03{
    height: 10vh;
}

/*BARRA DE NAVEGAÇÃO*/
header{
    background-color: rgb(255, 255, 255);
    height: 70px;
    margin-left: 20vh;
    margin-right: 20vh;
    display: flex;
    justify-content: flex-end;
    gap: 28vw;
    align-items: center;
}
.back_header{
    background-color: white;
}
.img_logo_horizontal{
    width: 20vw;
    height: 100%;
}
.img_logo_1{
    height: 100%;
}

/*FOOTER*/
footer{
    margin: 0px;
    background-color: rgb(253, 253, 253);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*IMAGEM HOME*/
.imagem_home{
    margin: 0px;
    background-color: rgb(21, 255, 0);
    height: 70vh;
    overflow: hidden;
    position: relative;
}
.imagem_home .img_home{
    width: 100%;
    height: 100%;
    object-fit: cover;       
    object-position: center;  
    display: block;
}

/*SOBRE*/
.about{
    gap: 25vh;
    margin: 0px;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-left: 20vh;
    margin-right: 20vh;
}
.text_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.picture_about{
    background-color: rgb(201, 52, 181);
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.picture_about .img_about{
    width: 100%;
    height: 100%;
    object-fit: cover;       
    object-position: center;  
    display: block;
}

/*SERVIÇOS*/
.services_left{
    margin: 0px;
    height: 100%;
    margin-left: 20vh;
    margin-right: 20vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.img_service_1{
    width: 50%;
    height: 280px;
    overflow: hidden;
    position: relative;
}
.img_service_1 .img_serv_1{
    width: 100%;
    height: 100%;
    object-fit: cover;       
    object-position: center;  
    display: block;
}
.text_service_1{
    width: 50%;
    height: 100%;
    margin-right: 20vh;
}
.services_right{
    margin: 0px;
    height: 100%;
    margin-right: 20vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.img_service_2{
    width: 50%;
    height: 280px;
    overflow: hidden;
    position: relative;
}
.img_service_2 .img_serv_2{
    width: 100%;
    height: 100%;
    object-fit: cover;       
    object-position: center;  
    display: block;
}
.text_service_2{
    width: 50%;
    height: 100%;
    margin-left: 20vh;
}


/*JOBS*/
.jobs{
    margin: 0px;
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.text_jobs{
    margin-left: 20vh;
    margin-right: 20vh;
    width: 30%;
    height: 100%;
}
.pictures_jobs{
    background-color: rgb(194, 135, 46);
    margin-left: 20vh;
    width: 89.7%;
    height: 100%;
}

/*DEMONSTRAÇÃO*/
.demonstration{
    margin: 0px;
    background-color: rgb(37, 87, 102);
    height: 40vh;
    margin-right: 80vh;
    display: flex;
    justify-content: flex-end;
}
.text_demo{
    background-color: rgb(194, 135, 46);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

/*FINAL*/
.back_final{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    background-color: white;
}
.final_infos{
    margin: 0px;
    height: 35vh;
    margin-left: 20vh;
    margin-right: 20vh;
    display: flex;
    flex-direction: row;
    gap: 20vh;
}
.logotipo_footer{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_footer{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    width: 50%;
    height: 100%;
}
.contact{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.img_logo_2{
    height: 100%;
}